:root {
    --color-blue: #7586d1;
    --color-green: #48A9A6;
    --color-timberwood: #f7eeee;
    --color-yellow: #D4B483;
    --color-red: #C1666B;
    --border-thin: 3px solid white;
    --border-thick: 8px solid white;
    font-family: 'Gabriela', serif;
    box-sizing: border-box;
}

/* * {
    border: 2px solid red;
} */

body {
    background-color: var(--color-green);

    font-size: 1.3rem;
    margin: 0;
    padding: 0;
    position: relative;
}

/* .btnsReadIt {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 20px 0px;
    font-size: 1.5rem;
} */

#library {
    /* padding: 1rem; */
    margin-top: 5%;
    grid-area: 2/1/3/2;
    background-color: var(--color-green);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 20%));
    gap: 3rem;
    justify-content: center;
    align-items: baseline;
    justify-items: center;

}

.book {
    display: flex;
    position: relative;
    background-color: #6aa8a600;
    color: var(--color-timberwood);
    flex-flow: column;
    height: fit-content;
    width: 60%;
    align-items: flex-start;
    overflow: auto;
    justify-content: space-evenly;
    border: var(--border-thick);
    border-radius: 20px;
    box-shadow: 10px 10px 10px black;
    font-size: 2rem;
    text-shadow: black 2px 2px;
    white-space: pre-line;
    padding: 30px;
    margin: 30px 0px;
    font-weight: 900;
    transition: background-color 0.5s, box-shadow 0.5s;
}

.book:hover {
    background-color: #27a7a2;
    box-shadow: 20px 20px 40px black;
}

.topSection {
    display: grid;
    grid-template: 1fr 1fr / min-content 1fr;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 1rem;
    place-items: end;
    margin-bottom: 10px;
}

.book>.titleText,
.book>.authorText,
.book>.pagesText,
.book>.genreText,
.bookNumber,
.book>.readingStatus {
    color: var(--color-yellow);
    font-weight: 700;
    font-size: 1.5rem;
    margin-top: 20px;
}

.book>.btnChangeReadStatusBook {
    align-self: center;
    width: min-content;
    white-space: pre;
}

.bookNumber {
    margin: 15px 0px;
    font-size: 2.5rem;
    grid-area: 1 / 1 / 3 / 2;
    place-self: center;
}




.readingStatus {
    align-self: center;
    font-size: 1.3rem;
    text-shadow: black 1.5px 1.5px;
    margin-top: 30px;
    margin-bottom: 10px;
}

.btnChangeReadStatusBook {
    width: fit-content;
    margin-bottom: 20px;
}

.btnRemoveBook {
    width: fit-content;
    font-size: 1.2rem;
    background-color: #C1666B;
    color: white;
    opacity: 0.5;
    transition: opacity 0.3s;
    grid-area: 1 / 2 / 2 / 3;
}

.btnRemoveBook:hover {
    opacity: 1;
}

.btnChangeProgress {
    width: fit-content;
    font-size: 1.2rem;
    background-color: var(--color-yellow);
    color: white;
}

form {
    padding: 50px 20px;
}

legend {
    font-size: 1.8rem;
    color: white;
    text-shadow: black 2px 2px;
}

.formItems>label {
    padding: 15px 0px;
}

.btnsReadIt {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    column-gap: 10px;
    row-gap: 10px;
    margin: 20px 20px;
    font-size: 1.5rem;
    place-content: center;
}

.readYes {
    grid-area: 1 / 1 / 2 / 2;

    width: 80%;
}

.readNo {
    grid-area: 1 / 2 / 2 / 3;

    width: 80%;
}

.labelCurrentPage {
    grid-area: 2/1/3/3;
    opacity: 0.5;
}

#currentPage {
    grid-area: 3 / 1 / 4 / 3;
    margin-top: 0px;
    width: 70px;
    place-self: stretch center;
    font-size: 1.5rem;
    text-align: center;

}

p {
    padding: 0px;
    margin: 0px;
}

.progressBar {
    background-color: var(--color-yellow);
    height: 100%;
    width: 50%;
}


.progressNumbers {
    height: min-content;
    width: fit-content;
    color: white;
    text-shadow: none;
    font-size: 2rem;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.progress {
    display: grid;
    height: 62px;
    width: 90%;
    border: 5px solid white;
    border-top: 0px;
    border-bottom: 0px;
    align-self: center;
    margin-bottom: 20px;
    position: relative;
}

ul {
    margin: 0px;
    padding: 0px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    align-items: center;
    justify-items: center;
}

ul>button {
    padding: 10px 20px;
}

.formItems {
    /* margin: 10px 0px; */
    color: white;
    font-size: 1.5rem;
    text-shadow: black 2px 2px 5px;
}

.create {
    grid-area: 2/2/3/3;

    background-color: var(--color-yellow);
    border-left: var(--border-thin);
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    position: relative;
    font-weight: bold;
    justify-content: space-between;
}

.newGenre,
.hidden {
    display: none;
}

article {
    display: grid;
    grid-template-rows: 15% 1fr 5%;
    grid-template-columns: 1fr minmax(330px, 550px);
    height: 100vh;
    position: relative;
}

header {
    grid-area: 1/1/2/3;
    background-color: var(--color-red);
    border-bottom: var(--border-thin);
    color: white;
    text-shadow: black 2px 2px 5px;
    font-size: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;


}

h2 {
    margin: 0px;
    font-size: 3rem;
    text-shadow: black 2px 2px 5px;
    color: white;
    position: relative;
}

form {
    display: flex;
    flex-flow: column wrap;
    gap: 2rem;
    margin: 0px 10px;
    align-items: center;
    position: sticky;
    top: 10px;
    /* position: fixed;
    justify-content: space-evenly;
    height: fit-content; */
}


button {
    /* margin-top: auto;
    margin-bottom: 1rem; */
    font-size: 2rem;
    border-radius: 10px;
    padding: 10px;
    border: var(--border-thin);
    box-shadow: 2px 2px 5px black;
}

.btnAddBook,
.btnResetForm {
    color: white;
}

.btnAddBook {
    background-color: var(--color-green);
}

.btnResetForm {
    background-color: var(--color-red);
}

.btnsForm {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 2rem;

}

footer {
    grid-area: 3/1/3/4;

    background-color: var(--color-timberwood);
    border-top: var(--border-thin);
    display: flex;
    justify-content: center;
    align-items: center;
}

#newPages {
    width: 70px;
    text-align: center;
}

.btnSideBar {
    /* position: fixed;
    top: 50px;
    right: 50px;
    width: 300px; */

    background-color: var(--color-green);
    color: white;
    box-shadow: 5px 5px 10px black;
    border: var(--border-thin);
    padding: 10px 50px;
    font-size: 2.5rem;
    position: fixed;
    right: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    top: 16%;
    z-index: 2;
    width: 400px;


}

input,
select,
.fieldAdd,
.fieldFinished {
    border-radius: 15px;
    border: var(--border-thin);
    box-shadow: black 3px 3px 5px;
    padding: 10px;
    width: fit-content;
    font-size: 1.5rem;
}

/* .fieldAdd,
.fieldFinished {
    transition: box-shadow 0.5s;
}

.fieldAdd:hover,
.fieldFinished:hover {
    box-shadow: black 10px 10px 10px;
} */