:root {
    --color-blue: #5f74d1;
    --color-green: #48A9A6;
    --color-timberwood: #E4DFDA;
    --color-yellow: #D4B483;
    --color-red: #C1666B;
    --border-thin: 3px solid white;
    --border-thick: 8px solid white;
}

/* * {
    border: 2px solid red;
} */

#library {
    padding: 5rem;
    grid-area: 2/1/3/2;
    background-color: var(--color-green);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 300px));
    gap: 5rem;
}

.book {
    display: flex;
    background-color: var(--color-blue);
    color: var(--color-timberwood);
    flex-flow: column;
    height: fit-content;
    align-items: center;
    justify-content: space-evenly;
    border: var(--border-thick);
    border-radius: 20px;
    box-shadow: 10px 10px 20px black;
    font-size: 1.6rem;
}

.book>div,
.book>button {
    padding: 10px;
    margin: 10px;

}

.btnRead {
    width: 50%;
}

.btnRemove {
    width: min-content;
    font-size: 1.3rem;
}

ul {
    margin: 0px;
    padding: 0px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    align-items: center;
    justify-items: center;
}

ul>button {
    padding: 10px 20px;
}

.create {
    grid-area: 2/2/3/3;
    background-color: var(--color-yellow);
    border-left: var(--border-thin);
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    position: relative;
}

body {
    font-family: 'Gabriela', serif;
    font-size: 1.3rem;
}

.newGenre,
.hidden {
    display: none;
}

article {
    display: grid;
    grid-template-rows: 100px 1fr 50px;
    grid-template-columns: 1fr 500px;
    height: 100vh;
}

header {
    grid-area: 1/1/2/3;
    background-color: var(--color-red);
    border-bottom: var(--border-thin);
    color: white;
    text-shadow: black 2px 2px 5px;

}

form {
    display: flex;
    flex-flow: column wrap;
    gap: 2rem;
    margin: 25px 10px;
    align-items: center;
}


.btnSideBar,
button {
    margin-top: auto;
    margin-bottom: 1rem;
    font-size: 2rem;
    border-radius: 10px;
    padding: 10px;
    border: var(--border-thin);
    box-shadow: 2px 2px 5px black;
}

.btnAddBook {
    background-color: var(--color-green);
}

.btnResetForm {
    background-color: var(--color-red);
}

.btnsForm {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 2rem;
}

footer {
    grid-area: 3/1/3/4;
    background-color: var(--color-timberwood);
    border-top: var(--border-thin);
}

header,
footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

input,
select {
    padding: 10px;
}

.btnSideBar {
    position: absolute;
    bottom: 50px;
    right: 20px;
    width: 300px;
    background-image: linear-gradient(45deg, var(--color-green), var(--color-blue));
    color: white;
    box-shadow: 5px 5px 10px black;
    border: var(--border-thin);
}